version: 2
jobs:
  build:
    working_directory: ~/vizrec
    docker:
      - image: circleci/python:3.7.3
        environment:
          PIPENV_VENV_IN_PROJECT: true
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          command: |
            sudo pip3 install pipenv
            pipenv install
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.7/site-packages"
      - run:
          name: lint code
          command: |
            virtualenv venv
            source venv/bin/activate
            pip3 install flake8
            flake8 . --count --exit-zero --max-complexity=10 --statistics
      - run:
          name: tests
          command: |
            virtualenv venv
            source venv/bin/activate
            pip3 install pytest
            pytest 
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1
